<div class="modal fade" id="modal-show-game" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content custom-modal-content">
      <div class="modal-show-game">
        <div class="show-game-left-box hidden-scrollbar">
          <div class="list-members" id="list-member-stream">
            <div class="member-item">
              <img class="member-avatar" src="assets/images/user.png" alt="" />
              <div class="member-info">
                <div class="member-name">Player 1</div>
                <div class="member-score">1000</div>
              </div>
              <span>
                <img class="eye-icon" src="./assets/images/eye.png" alt="" />
              </span>
            </div>
            <div class="member-item">
              <img class="member-avatar" src="assets/images/user.png" alt="" />
              <div class="member-info">
                <div class="member-name">Player 1</div>
                <div class="member-score">1000</div>
              </div>
              <span>
                <img class="eye-icon" src="./assets/images/eye.png" alt="" />
              </span>
            </div>
          </div>
        </div>
        <div class="show-game-right-box">
          <div class="list-rounds-result">
            <div class="round-result-item">
              <div class="row">
                <div class="col col-4">
                  <div class="round-player-box player-1-box">
                    <img src="./assets/images/user.png" alt="" class="player-avatar" />
                    <div class="player-1-info">
                      <div class="player-1-name">Player 1</div>
                      <div class="player-1-score">
                        <img src="./assets/images/win.png" class="result-icon" />
                        <img src="./assets/images/win.png" class="result-icon" />
                        <img src="./assets/images/win.png" class="result-icon" />
                        <img src="./assets/images/win.png" class="result-icon" />
                        <img src="./assets/images/win.png" class="result-icon" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col col-4">
                  <div
                    class="round-result text-center d-flex align-items-center justify-content-center h-100 flex-direction-column"
                  >
                    <!-- <span>ROUND 1</span> -->
                    <img src="./assets/images/swords.png" class="" />
                  </div>
                </div>
                <div class="col col-4">
                  <div class="round-player-box player-1-box">
                    <img src="./assets/images/user.png" alt="" class="player-avatar" />
                    <div class="player-1-info">
                      <div class="player-1-name">Player 1</div>
                      <div class="player-1-score">
                        <img src="./assets/images/win.png" class="result-icon" />
                        <img src="./assets/images/win.png" class="result-icon" />
                        <img src="./assets/images/win.png" class="result-icon" />
                        <img src="./assets/images/win.png" class="result-icon" />
                        <img src="./assets/images/win.png" class="result-icon" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="round-result-item">
              <div class="row">
                <div class="col col-4">
                  <div class="round-player-box player-1-box">
                    <img src="./assets/images/user.png" alt="" class="player-avatar" />
                    <div class="player-1-info">
                      <div class="player-1-name">Player 1</div>
                      <div class="player-1-score">
                        <img src="./assets/images/win.png" class="result-icon" />
                        <img src="./assets/images/win.png" class="result-icon" />
                        <img src="./assets/images/win.png" class="result-icon" />
                        <img src="./assets/images/win.png" class="result-icon" />
                        <img src="./assets/images/win.png" class="result-icon" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col col-4">
                  <div
                    class="round-result text-center d-flex align-items-center justify-content-center h-100 flex-direction-column"
                  >
                    <!-- <span>ROUND 1</span> -->
                    <img src="./assets/images/swords.png" class="" />
                  </div>
                </div>
                <div class="col col-4">
                  <div class="round-player-box player-1-box">
                    <img src="./assets/images/user.png" alt="" class="player-avatar" />
                    <div class="player-1-info">
                      <div class="player-1-name">Player 1</div>
                      <div class="player-1-score">
                        <img src="./assets/images/win.png" class="result-icon" />
                        <img src="./assets/images/win.png" class="result-icon" />
                        <img src="./assets/images/win.png" class="result-icon" />
                        <img src="./assets/images/win.png" class="result-icon" />
                        <img src="./assets/images/win.png" class="result-icon" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="round-result-item">
              <div class="row">
                <div class="col col-4">
                  <div class="round-player-box player-1-box">
                    <img src="./assets/images/user.png" alt="" class="player-avatar" />
                    <div class="player-1-info">
                      <div class="player-1-name">Player 1</div>
                      <div class="player-1-score">
                        <img src="./assets/images/win.png" class="result-icon" />
                        <img src="./assets/images/win.png" class="result-icon" />
                        <img src="./assets/images/win.png" class="result-icon" />
                        <img src="./assets/images/win.png" class="result-icon" />
                        <img src="./assets/images/win.png" class="result-icon" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col col-4">
                  <div
                    class="round-result text-center d-flex align-items-center justify-content-center h-100 flex-direction-column"
                  >
                    <!-- <span>ROUND 1</span> -->
                    <img src="./assets/images/swords.png" class="" />
                  </div>
                </div>
                <div class="col col-4">
                  <div class="round-player-box player-1-box">
                    <img src="./assets/images/user.png" alt="" class="player-avatar" />
                    <div class="player-1-info">
                      <div class="player-1-name">Player 1</div>
                      <div class="player-1-score">
                        <img src="./assets/images/win.png" class="result-icon" />
                        <img src="./assets/images/win.png" class="result-icon" />
                        <img src="./assets/images/win.png" class="result-icon" />
                        <img src="./assets/images/win.png" class="result-icon" />
                        <img src="./assets/images/win.png" class="result-icon" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="end-game-action text-end" id="end-game-action">
            <button onclick="handleLeaveGame()" class="btn btn-primary btn-create-room btn-lg">Thoát trận</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
