.room-page-wrapper {
  display: flex;
  background: #202124;
  min-height: 100vh;
  position: relative;
}
.loading-box {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  background-color: #313338;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.room-section {
  flex: 1;
  padding: 10px;
  position: relative;
}

.user-section {
  width: 300px;
  background: #313338;
  box-shadow: 0 0 10px rgba(51, 50, 50, 0.5);
}

.user-section-header {
  padding: 10px;
  background: #202124;
  color: #fff;
  font-size: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(51, 50, 50, 0.5);
}

.user-list {
  padding: 10px;
}

.user-list .user-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.user-list .user-item .user-info {
}

.user-list .user-item .user-info .user-name {
  font-size: 16px;
  color: #fff;
}

.user-list .user-item .user-avatar,
.user-list .user-item .user-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.room-section .room-section-header {
  position: absolute;
  top: 10px;
  left: 30px;
  right: 30px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #313338;
  border-radius: 1000px;
}
.room-section-header .header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.room-section-header .room-header-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.room-section-header .header-left .header-button {
  background-color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
}

.room-section-header .header-left .header-button:hover {
  background-color: #f1f1f1;
}

.room-section-header .header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.room-section-header .coin-box {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #202124;
  color: #fff;
  min-width: 130px;
  height: 40px;
  border-radius: 100px;
  padding: 5px 10px;
}

.room-section-header .coin-box {
}

.room-section-header .coin-box .coin-icon {
  width: 20px;
}

.room-section-header .account-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  min-width: 130px;
  min-height: 40px;
  background-color: #202124;
  color: #fff;
  padding: 5px 10px;
  border-radius: 100px;
}

.room-section-header .account-box .avatar,
.room-section-header .account-box .avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.room-section .room-list {
  margin-top: 100px;
  overflow-y: scroll;
  height: calc(100vh - 150px);
}

.room-section .room-list::-webkit-scrollbar {
  display: none;
}

.room-list .room-item {
  width: 100%;
  aspect-ratio: 5/3;
  background-image: url("../images/phong.png");
  background-size: cover;
  position: relative;
  margin-bottom: 10px;
}

.room-list .room-item .room-name {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 120px;
  height: 40px;
  background-image: url("../images/room-name.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-list .room-item .room-name .room-name-img {
  width: 120px;
}

.room-list .room-item .room-name .room-name-text {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.room-item .room-bet {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 50px;
}

.room-item .room-bet .room-bet-coin {
  width: 30px;
  height: 30px;
}

.room-item .room-bet .room-bet-bg {
  width: 50px;
  height: 130px;
  position: absolute;
  transform: rotate(90deg);
  bottom: -16px;
  right: 60px;
}

.room-item .room-bet .room-bet-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 33px;
  right: 28px;
  z-index: 1;
  width: 100px;
}

.room-item .room-bet .room-bet-text {
  font-size: 20px;
  color: #fff;
}

.room-item .room-owner {
  position: absolute;
  bottom: 30px;
  left: 30px;
  min-width: 120px;
  height: 40px;
  background-color: #4961abbd;
  color: #fff;
  box-shadow: 0 0 10px rgba(123, 113, 113, 0.5);
  background-size: cover;
  display: flex;
  padding: 0 5px;
  border-radius: 100px;
  align-items: center;
  gap: 5px;
  font-size: 13px;
}

.room-item .room-owner .room-owner-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.room-item .room-join {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-item .room-join .room-join-btn {
  width: 100px;
  height: 40px;
  outline: none;
  border: none;
  display: flex;
  background: rgb(34, 1, 6);
  background: radial-gradient(
    circle,
    rgba(34, 1, 6, 0.9136904761904762) 0%,
    rgba(34, 1, 6, 0.9108893557422969) 31%,
    rgba(34, 1, 6, 0.8688725490196079) 86%,
    rgba(34, 1, 6, 0.8072478991596639) 100%
  );
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}

.room-join-btn:hover {
  box-shadow: 0 0 10px rgba(123, 113, 113, 0.5);
}

.room-join-btn:active {
  transform: scale(0.95);
}

.form-create-room {
  padding: 10px;
}

.form-create-room .form-item {
  margin-bottom: 10px;
}

.form-create-room .form-item .label {
  font-size: 13px;
  color: #fff;
}

.form-create-room .form-item .form-input {
  height: 40px;
  padding: 10px;
  font-size: 15px;
}

.form-create-room .form-item .form-select {
  height: 40px;
  padding: 10px;
  font-size: 15px;
  width: 100%;
}

.form-create-room .btn-create-room {
  width: 140px;
  height: 40px;
  font-size: 13px;
  text-transform: uppercase;
}

.room-section .game-section {
  margin-top: 100px;
  overflow-y: scroll;
  height: calc(100vh - 150px);
}

.game-section::-webkit-scrollbar {
  display: none;
}

.game-section .game-members {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.game-section .game-members .game-member-item {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  padding: 10px;
  position: relative;
}

.game-section .footer-game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.game-section .footer-game .room-info-box {
  max-width: 550px;
  width: 100%;
  background-color: #313338;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(51, 50, 50, 0.5);
  color: #fff;
}

.game-section .room-info-box .room-info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.game-section .room-info-box .room-info-item + .room-info-item {
  border-top: 1px solid #fff;
}

.game-members .game-member-item .member-avatar {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #fff;
  margin-bottom: 5px;
}
.member-name {
  overflow: hidden; /* Ẩn phần văn bản tràn */
  text-overflow: ellipsis; /* Hiển thị dấu "..." khi văn bản bị cắt */
  white-space: nowrap; /* Ngừng xuống dòng */
  width: 120px; /* Độ rộng của phần tử */
  text-align: center;
}

.start-game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.start-game .btn-start-game {
  width: 70px;
  height: 70px;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 50%;
  background: rgb(88, 79, 80);
  color: #fff;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-game .btn-start-game:disabled {
  opacity: 0.5;
}

.header-game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-game .game-user {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.state-result {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.game-user .game-user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 2px solid #fff;
}

.game-user.game-user-right {
  flex-direction: row-reverse;
}

.game-user.game-user-right .game-user-info {
  text-align: end;
}

.body-game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
  margin-top: 50px;
}

.player-choice {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #fff;
  border: #fff;
}

.player-choice.choosing {
  animation: spin 10s linear infinite;
}

.list-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* margin-top: 50px; */
}

.player-choice-box {
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: 220px;
}
.my-choice-box {
  left: 80px;
}
.rival-choice-box {
  right: 80px;
}

.rock {
  background-image: url(../images/rock.png);
}

.paper {
  background-image: url(../images/paper.png);
}

.scissors {
  background-image: url(../images/scissors.png);
}

.list-choice .btn-choice {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #000;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid transparent;
}

.list-choice .btn-choice:hover {
  box-shadow: 0 0 10px rgba(123, 113, 113, 0.5);
}

.list-choice .btn-choice:active {
  transform: scale(0.98);
}

.list-choice .btn-choice.active {
  border: 5px solid #f53d00;
}

.header-game-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-game-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.body-game-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.body-game-center .countdown {
  position: relative;
}

.body-game-center .countdown-bg {
  width: 250px;
  height: 250px;
  /* border-radius: 50%; */
  background-image: url("../images/quay.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 30s linear infinite;
}

/* .body-game-center .countdown-time {
  font-size: 50px;
  font-weight: 500;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.body-game-center .turn-result {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  display: inline-block;
}

.stream-turn-result {
  text-transform: unset;
}

.end-round-result {
  font-weight: 600;
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.end-round-desc {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  display: block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    /* Bắt đầu từ 0 độ */
  }

  to {
    transform: rotate(360deg);
    /* Kết thúc ở 360 độ */
  }
}

/* ================================================ */
.game-main {
  background: url("../images/img.png") no-repeat -1150px -2px;
  width: 771px;
  height: 507px;
  margin: auto;
  position: relative;
  text-align: center;
}
.dragon {
  background: url("../images/img.png") no-repeat -1538px -514px;
  width: 317px;
  height: 309px;
  position: absolute;
  left: 230px;
  top: 130px;
  animation: spin 5s linear infinite;
}
.countdown-time {
  font-size: 100px;
  font-family: "Intro", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  /* Warning: no fallback */

  background: -webkit-linear-gradient(-86deg, #660610 5%, black 53%, #0a99b8 91%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 8px transparent;
  color: white;
  position: absolute;
  left: 320px;
  top: 200px;
}
.choice-text {
  color: #fff;
  position: absolute;
  bottom: 153px;
  font-size: 20px;
  text-transform: uppercase;
}
.stream-choice-text {
  color: #fff;
  position: absolute;
  bottom: 153px;
  font-size: 15px;
  width: 195px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 145px;
}
.my-choice-text {
  left: 50px;
}
.rival-choice-text {
  right: 50px;
}
.turn-result {
  position: absolute;
  bottom: 35px;
  text-align: center;
  width: 100%;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}
.dice {
  position: absolute;
}
.dice1 {
  background: url("../images/dice.png") no-repeat -507px -2px;
  width: 98px;
  height: 96px;
  transform: scale(0.8) rotate(-20deg);
  left: 340px;
  top: 200px;
  opacity: 0;
}
.dice2 {
  background: url("../images/dice.png") no-repeat -404px -3px;
  width: 98px;
  height: 96px;
  transform: scale(0.8) rotate(20deg);
  left: 300px;
  top: 270px;
  opacity: 0;
}
.dice3 {
  background: url("../images/dice.png") no-repeat 0 -2px;
  width: 98px;
  height: 96px;
  transform: scale(0.8) rotate(10deg);
  left: 380px;
  top: 270px;
  opacity: 0;
}

.result-dice {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; */
}
.result-dice-item {
  width: 30px;
  height: 30px;
  background-image: unset;
  background-size: cover;
  background-position: center;
}
.result-dice-item-1 {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
.result-dice-item-2 {
  position: absolute;
  bottom: 27px;
  right: 19px;
  transform: rotate(-20deg);
}
.result-dice-item-3 {
  position: absolute;
  bottom: 26px;
  left: 18px;
  transform: rotate(-70deg);
}

.modal-show-game {
  display: flex;
  gap: 20px;
}
.modal-show-game .show-game-left-box {
  width: 350px;
  height: calc(100vh - 20px);
  margin: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 10px;
  background: #313338;
  box-shadow: 0 0 10px rgba(51, 50, 50, 0.5);
}
.show-game-left-box .list-members {
  width: 100%;
  border-radius: 10px;
}
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.show-game-left-box .list-members .member-item {
  display: flex;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  position: relative;
  width: 100%;
  gap: 10px;
  transition: all 0.2s;
}

.show-game-left-box .list-members .member-item:hover {
  background-color: #202124;
  box-shadow: 0 0 10px rgba(51, 50, 50, 0.5);
}

.show-game-left-box .list-members .member-item.active {
  background-color: #202124;
  box-shadow: 0 0 10px rgba(51, 50, 50, 0.5);
}

.show-game-left-box .list-members .member-item.member-lose {
  opacity: 0.5;
}

.show-game-left-box .member-item + .member-item {
  border-top: 1px solid #fff;
}

.show-game-left-box .member-item .member-info {
  flex: 1;
}
.show-game-left-box .member-avatar {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  border: 2px solid #fff;
  padding: 2px;
}
.show-game-left-box .eye-icon {
  width: 24px;
  border-radius: 50%;
  padding: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s;
}
.show-game-left-box .eye-icon:active {
  transform: scale(0.9);
}

.show-game-right-box {
  flex: 1;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(51, 50, 50, 0.5);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.show-game-right-box .round-player-box {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.round-player-box .player-avatar {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 2px solid #fff;
}
.result-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.round-result-item {
  padding: 10px;
  background-color: #313338;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 10px;
}

.member-owner {
  width: 24px;
  transform: rotate(45deg);
  position: absolute;
  top: 0px;
  left: 76px;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes zoomout {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
